
@{
    ViewBag.Title = "User List";
}

@section Css{
    <link href="~/Content/xenon.css" rel="stylesheet" />
    <link href="~/Content/xenon-core.css" rel="stylesheet" />
    <link href="~/Content/fonts/fontawesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <link href="~/Scripts/pagination/pagination.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/Scripts/pagination/pagination.js"></script>
}

<div class="row">
    <div class="panel panel-default panel-full">
        <div class="panel-heading panel-heading-padding">
            <h3 class="panel-title">用户列表</h3>

            <div class="panel-options">
                <a href="~/Admin/user/Create" class="btn btn-gray">添加</a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                        <th>
                            用户
                        </th>
                        <th>
                            性别
                        </th>
                        <th>
                            邮箱
                        </th>
                        <th>
                            学号
                        </th>
                        <th>
                            用户状态
                        </th>
                        <th>
                            角色
                        </th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="middle-align" id="dataBind"></tbody>
            </table>

        </div>

        <div id="pages"></div>

    </div>
    @*<input type="hidden" id="PageIndex" value="1" />*@
</div>

<script>
    var pageSize = 5;

    $(function () {

        getUser();

    });

    function getUser() {

        $.get("@Url.Content("~/Admin/User/GetUserListByPage")", { pageSize: pageSize, pageNumber: 1 },
            function (data) {
                if (data.code == 0) {
                    alert(data.msg);
                    return;
                }
                $('#pages').pagination({
                    dataSource: "@Url.Content("~/Admin/User/GetUserListByPage")",
                    locator: 'data',
                    totalNumber: data.Count,
                    pageSize: pageSize,
                    showGoInput: true,
                    showGoBUtton: true,
                    callback: function (data, pagination) {

                        var _html = "";

                        for (var i = 0; i < data.length; i++) {
                            debugger;
                            var item = data[i];
                            _html += "<tr>";
                            _html += "<td>" + item.UserName + "</td>";
                            _html += "<td>" + item.GenderName + "</td>";
                            _html += "<td>" + item.Email + "</td>";
                            _html += "<td>" + item.StudentNo + "</td>";
                            _html += "<td>" + item.StatusName + "</td>";
                            _html += "<td>" + item.RoleName + "</td>";
                            _html += "<td><a href='@Url.Content("/Admin/User/Edit/")" + item.Id + "' class = 'fa-pencil-square-o' style = 'font-size:20px'> 编辑 </a>";
                            _html += "<a href='javascript:void(0);' onclick='Reset(" + item.Id + ")'class = 'fa-pencil-square-o' style = 'font-size:20px'> 重置</a>";
                            _html += "<a href='javascript:void(0);' onclick='Delete(" + item.Id + ")' class = 'fa-trash' style = 'font-size:20px;margin-left:10px;'>删除</a></td>";
                            _html += "</tr>";
                        }

                        $("#dataBind").html(_html);
                    }
                })
            });
    }
          
    function Delete(id) {

        if (confirm("确定删除当前学员么?")) {
             $.ajax({
            url: "@Url.Content("~/Admin/User/DeleteUser")",
            data: {"DeleteID":id},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    alert("学员删除成功");
                    //window.location = "@Url.Content("~/Admin/User/List")";
                    getUser();
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })

        }

    }

    function Reset(id) {

        if (confirm("确定重置密码么?")) {
             $.ajax({
            url: "@Url.Content("~/Admin/User/Reset")",
            data: {"ResetID":id},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    alert("密码重置成功");
                    window.location = "@Url.Content("~/Admin/User/List")";
                } else {
                    alert(data.msg)
                    return false;
                }
            }
        })

        }

    }

</script>

