
@Model CreateOrUpdateTeacherDto

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>编辑教师</title>
    @*responsive website*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>编辑 教师</h1>
    <div class="form">
        <label for="username">教师 姓名</label> <br />
        <input type="text" name="username" class="username" id="usernametext" value="@Model.TeacherName"> <br />
        <label for="level">级别</label> <br>
        <input type="text" name="level" class="level" id="levelId" value="@Model.Level"> <br>
        <label for="company">工作单位</label> <br>
        <input type="text" name="company" class="level" id="companyId" value="@Model.Company"> <br>
        <label for="department">部门</label> <br>
        <input type="text" name="department" class="department" id="departmentId" value="@Model.Department"> <br>
        <label for="intro">简介</label> <br />
   
        <textarea type="text" name="intro" class="intro" id="introId"> @Model.Introduction </textarea>
        <br>
        <button onclick="submit()" class="submit">修改</button> <br />
        <a class="backlink" href="../index">返回列表</a>


        <input type="hidden" name="department" class="Id" id="Id" value="@Model.Id"> <br>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</body>
</html>
<script>
    function submit() {
        var teacherName = $.trim($("#usernametext").val());
        if (teacherName == "") {
            alert("教师姓名不能为空");
            return;
        }

        var level = $.trim($("#levelId").val());
        if (level == "") {
            alert("教师级别不能为空");
            return;
        }
        var company = $.trim($("#companyId").val());
        if (company == "") {
            alert("工作单位不能为空");
            return;
        }
        var department = $.trim($("#departmentId").val());
        if (department == "") {
            alert("部门不能为空");
            return;
        }
        var intro = $.trim($("#introId").val());
        if (intro == "") {
            alert("简介不能为空");
            return;
        }

        var parm = {};
        parm.TeacherName = teacherName;
        parm.Level = level;
        parm.Company = company;
        parm.Department = department;
        parm.Introduction = intro;
        parm.Id = $.trim($("#Id").val());

        $.ajax({
            url: "@Url.Content("~/Admin/Teacher/Edit")",
            //data: { "TeacherName": teacherName, "Level": level, "Company": company, "Department": department, "Introduction": intro },
            data: parm,

            type: "POST", dataType: 'json',
            success: function (data) {
                if (data.code == 0) {
                    window.location = "@Url.Content("~/Admin/Teacher/Index")";
                }
                else {
                    alert(data.msg)
                }
            }
        })

    }
</script>