
@{
    ViewBag.Title = "Teacher List";
}

@section Css{
    <link href="~/Content/xenon.css" rel="stylesheet" />
    <link href="~/Content/xenon-core.css" rel="stylesheet" />
    <link href="~/Content/fonts/fontawesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <link href="~/Scripts/pagination/pagination.css" rel="stylesheet" />
}


@section scripts{

    <script src="~/Scripts/pagination/pagination.js"></script>
}



<div class="row">
    <div class="panel panel-default panel-full">
        <div class="panel-heading panel-heading-padding">
            <h3 class="panel-title">教师 列表</h3>

        </div>
        <div class="panel-options">
            <a href="~/Admin/Teacher/Create" class="btn btn-gray">添加</a>
        </div>
        <div class="panel-body">
            <table class="table  table-striped" id="example-1">
                <thead>
                    <tr>
                        <th>
                            教师姓名
                        </th>
                        <th>
                            级别
                        </th>
                        <th>
                            工作单位
                        </th>
                        <th>
                            部门
                        </th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="middle-align" id="dataBind"></tbody>
            </table>

        </div>

        <div id="pages"></div>

    </div>
</div>



<script>
  
    function Delete(Id) {

        if (confirm("确定删除当前教师吗?")) {
             $.ajax({
            url: "@Url.Content("~/Admin/Teacher/DeleteTeacher")",
                 data: { "DeleteID": Id},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if (data.code == 0) {
                    alert("教师删除成功");
                    $("#dataBind").empty();
                    getTeacher();
                    //window.location = "@Url.Content("~/Admin/Teacher/index")";


                } else {
                    alert(data.msg)
                    //return false;
                }
            }
        })
        }
    }


    var pageSize = 1;
   
    $(function () {

        getTeacher();
        
    });


    function getTeacher() {

        $.get("@Url.Content("~/Admin/Teacher/GetTeacherListByPage")", { pageSize: pageSize, pageNumber: 1 },
            function (data) {

                if (data.code == 0) {
                    alert(data.msg);
                    return;
                }
                $('#pages').pagination({
                    dataSource: "@Url.Content("~/Admin/Teacher/GetTeacherListByPage")",
                    locator: 'data',
                    totalNumber: data.Count,
                    pageSize: pageSize,
                    showGoInput: true,
                    showGoButton: true,
                    callback: function (data, pagination) {

                   var _html = "";
                        for (var i = 0; i < data.length; i++) {

                        var item = data[i];
                        _html += "<tr>";
                        _html += "<td>" + item.TeacherName + "</td>";
                        _html += "<td>" + item.Level + "</td>";
                        _html += "<td>" + item.Company + "</td>";
                        _html += "<td>" + item.Department + "</td>";
                        _html += "<td><a href='@Url.Content("/Admin/Teacher/Edit/")" + item.Id + "' class = 'fa-pencil-square-o' style = 'font-size:20px'> 编辑 </a>";
                        _html += "<a href='javascript:void(0);' onClick='Delete(" + item.Id + ")' class = 'fa-trash' style = 'font-size:20px'> 删除 </a></td>";
                        _html += "</tr>";
                    }

                    $("#dataBind").html(_html);
                    }
                })
            });
    }


</script>

